header{
    height: 10vw;
    width: 100%;
    border-radius: 2vw;
    background-image: url('fon2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container { 
        margin: 1vw 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 2%;
        height: 30vw;
        margin-bottom: 10vw;
  }
.q1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
}
.moon{
    background-image: url(fon2.jpg);
    height: 15vw;
    width: 15vw;
    border-radius: 2vw;

}
.circle{
    background-image: url(fon2.jpg);
    height: 15vw;
    width: 15vw;
    border-radius: 2vw;

}
.q2 { 
    border-radius: 2vw;
    background-image: url(fon2.jpg);
}  
.q3 {     
    border-radius: 2vw;
    background-image: url(fon2.jpg) ;
}
.m1{
    box-shadow: yellow 0.5vw 0.5vw 0.5vw 0.1vw;
    width: 10vw;
    height: 10vw;
    background-image:url(moon.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    animation-name: qadyr;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}
@keyframes qadyr{
    0% {
    left:  0%;
    }
    100%{
    left: 90%;
    }
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.m2{
    width: 10vw;
    height: 10vw;
    background-image:url(moon.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    animation-name: vetryo;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    left: 2.5vw;
}
@keyframes vetryo{
    0% {
    top:  0%;
    }
    100%{   
    top: 33%;
    }
}
.c1{
    width: 10vw;
    height: 10vw;
    background-color:aqua;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    animation-name: c1;
    animation-timing-function: ease-in-out ;
    animation-duration: 3s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
    position: relative;
    left: 2.5vw;
    top: 2.5vw;
}
@keyframes c1{
    from {
        background-color: rgb(0, 255, 0);
      }
      50% {
        background-color: blue;
      }
      to {
        background-color: yellow;
      }
}
.square{
    width: 15vw;
    height: 15vw;
    border-radius:2vw;
    background: radial-gradient(red, yellow, green);
    background-size:cover;
    background-repeat: no-repeat;
    animation-name: square;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    left: 2.5vw;
    top: 7.5vw
}
@keyframes square{
    0% {
    transform: rotate(0deg);
    }
    100%{   
        transform: rotate(360deg);
    }
}
.overflow-container{
    width: 30vw;
    height: 20vw;
    background: rgb(167, 167, 167);
    border-radius: 2vw;
    overflow: hidden;
    position: relative;
    top: 5vw;
    left: 5vw;
    border: dotted;
}
.overflow-text{
    text-decoration: dotted;
    animation: move 3s infinite linear;
    font-size: 1.5vw;
    animation-timing-function: cubic-bezier(.3,.77,.79,-0.05);
    font-weight: bolder;
}
@keyframes move{
    0% {margin-top: 100%;}
    100% {margin-top: -100%;}
} 